In [1]:
import pandas as pd
from datetime import datetime
import sqlite3
from sqlite3 import Error

In [ ]:
import pgamin4

In [2]:
def create_connection(db_file, delete_db=False):
    import os
    if delete_db and os.path.exists(db_file):
        os.remove(db_file)

    conn = None
    try:
        conn = sqlite3.connect(db_file)
        conn.execute("PRAGMA foreign_keys = 1")
    except Error as e:
        print(e)

    return conn


def create_table(conn, create_table_sql, drop_table_name=None):
    if drop_table_name:  # You can optionally pass drop_table_name to drop the table.
        try:
            c = conn.cursor()
            c.execute("""DROP TABLE IF EXISTS %s""" % (drop_table_name))
        except Error as e:
            print(e)

    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)


def execute_sql_statement(sql_statement, conn):
    cur = conn.cursor()

    cur.execute(sql_statement)

    rows = cur.fetchall()

    return rows


def execute_many_sql_statement(sql_statement, conn, values):
    cur = conn.cursor()

    cur.executemany(sql_statement, list(map(tuple, values)))

    rows = cur.fetchall()

    return rows

In [12]:
def populateTables(conn):
    
    create_table(conn,
                 """CREATE TABLE Customer(Customer_id Varchar PRIMARY KEY,cname varchar(50) NOT NULL,Email_id varchar(50) NOT NULL,
Address varchar(50) NOT NULL,SSN Integer NOT NULL,Phone_no Integer NOT NULL)""","Customer")
    
    create_table(conn,"""CREATE TABLE Branch_Details(Branch_id varchar(10) PRIMARY KEY,
    IFSC_code varchar(20) NOT NULL,
    Pincode INTEGER NOT NULL, 
    Branch_name varchar(20) NOT NULL, 
    Manager_name varchar(30))""", "Branch_Details")


    
    create_table(conn,"""CREATE TABLE User_Login(User_id  varchar(20) PRIMARY KEY,Password varchar(10) NOT NULL,Account_no INTEGER NOT NULL)""","User_Login")
        
    create_table(conn,
                 """CREATE TABLE Acount_Details(Account_no INTEGER PRIMARY KEY,
                 Account_types varchar(10) NOT NULL,
                 Customer_id varchar NOT NULL,
                Branch_name varchaR(10) NOT NULL, FOREIGN KEY(Customer_id) REFERENCES Customer(Customer_id))""","Acount_Details")
    
    
    create_table(conn,"""CREATE TABLE Loan(Loan_id INTEGER PRIMARY KEY NOT NULL,
    Account_no INTEGER NOT NULL,
Sanctioned_amount INTEGER NOT NULL,
Requested_amount INTEGER NOT NULL,
Disbursed_amount INTEGER NOT NULL,
Collateral varchar(20) NOT NULL,
Collateral_type varchar(20) NOT NULL,
Purpose_of_loan varchar(10) NOT NULL,
Branch_id INTEGER NOT NULL,FOREIGN KEY(Branch_id) REFERENCES Branch_Details(Branch_id))
""", "Loan" )
    

    
    create_table(conn,
                 """CREATE TABLE Transactions(Transaction_id varchar(20) PRIMARY KEY,
                 Account_no INTEGER NOT NULL,
                 Time_stamp TIMESTAMP(10) NOT NULL,
Amount varchar(20) NOT NULL,
Transaction_mode varchar(30) NOT NULL)""","Transactions")
    
    
        
    create_table(conn,"""CREATE TABLE Employee(Emp_id VARchar(20) PRIMARY KEY,
    ename varchar(2) NOT NULL,
Email_id varchar(20) NOT NULL,
SSN INTEGER NOT NULL,
Phone_no INTEGER NOT NULL,
Address varchar(200) NOT NULL,FOREIGN KEY(Emp_id) REFERENCES Employee_Login(Emp_id))""",
                 "Employee")
    

    create_table(conn,"""CREATE TABLE Employee_Login (Emp_id CHARACTER VARchar(20) PRIMARY KEY, Password Varchar(10) NOT NULL)""","Employee_Login")

In [13]:
conn = create_connection('Customer1.db')
populateTables(conn)

In [14]:
def Customer(conn):
    #fields = ['Customer_Id', 'Name', 'Email', 'date', 'SSN', 'Phone', 'Address']
    df = pd.read_csv('Customer.csv', skipinitialspace=True)
    

    #df = df[['Customer_Id', 'Name', 'Email', 'date', 'SSN', 'Phone', 'Address']]

    execute_many_sql_statement("INSERT INTO Customer VALUES(?,?,?,?,?,?);", conn, df.to_numpy())

    conn.commit()

Customer(conn)

In [15]:
def Branch_details(conn):
    df = pd.read_csv('Branch_Details.csv', skipinitialspace=True)
    
    execute_many_sql_statement("INSERT INTO Branch_details VALUES(?,?,?,?,?);", conn, df.to_numpy())

    conn.commit()

Branch_details(conn)

In [16]:
def Account_Details(conn):
    df = pd.read_csv('Account_Details.csv', skipinitialspace=True)
    


    execute_many_sql_statement("INSERT INTO Acount_Details VALUES(?,?,?,?);", conn, df.to_numpy())

    conn.commit()

Account_Details(conn)

In [17]:
def Loan(conn):
    df = pd.read_csv('loan.csv', skipinitialspace=True)
    

    execute_many_sql_statement("INSERT INTO Loan VALUES(?,?,?,?,?,?,?,?,?);", conn, df.to_numpy())

    conn.commit()

Loan(conn)

In [18]:
def Transactions(conn):
    df = pd.read_csv('Transaction.csv', skipinitialspace=True)
    

    execute_many_sql_statement("INSERT INTO Transactions VALUES(?,?,?,?,?);", conn, df.to_numpy())

    conn.commit()

Transactions(conn)

In [19]:
def Employee_Login(conn):
    df = pd.read_csv('Employee_Login.csv', skipinitialspace=True)
    

    execute_many_sql_statement("INSERT INTO Employee_Login VALUES(?,?);", conn, df.to_numpy())

    conn.commit()

Employee_Login(conn)

In [20]:
def Employee(conn):
    df = pd.read_csv('Employee.csv', skipinitialspace=True)
    

    execute_many_sql_statement("INSERT INTO Employee VALUES(?,?,?,?,?,?);", conn, df.to_numpy())

    conn.commit()

Employee(conn)

In [ ]:
def Acount_Details(conn):
    df = pd.read_csv('Acount_Details.csv', skipinitialspace=True)
    


    execute_many_sql_statement("INSERT INTO Acount_Details VALUES(?,?,?,?);", conn, df.to_numpy())

    conn.commit()

Acount_Details(conn)