In [1]:
import pandas as pd


Employee = pd.read_csv("C:/ram/FALL/DMQL/Project/Employee.csv")


Account_Details = pd.read_csv("C:/ram/FALL/DMQL/Project/Account_Details.csv")

In [2]:
Account_Details

            Account_No Account_type Customer_Id Branch_Id
0     1032665555259110     Checking   C76886793  BSABUF05
1     1022457127705150     Checking   C59860024  BSABUF07
2     1034377768495020       Saving   C46800944  BSABUF02
3     1030517720272910       Saving   C53277210  BSABUF15
4     1018800232477030     Checking   C77775339  BSABUF05
...                ...          ...         ...       ...
9995  1020805612047480     Checking    C1973444  BSABUF18
9996  1070610451281470     Checking    C6017585  BSABUF18
9997  1061135450628380       Saving    C2671282  BSABUF03
9998  1088222785375750       Saving    C2279991  BSABUF06
9999  1024251000827920     Checking    C5547202  BSABUF23

[10000 rows x 4 columns]

In [5]:
len(Account_Details['Customer_Id'].tolist())

10000

In [6]:
len(set(Account_Details['Customer_Id'].tolist()))

265

In [12]:

customer = pd.read_csv("C:/ram/FALL/DMQL/Project/customer.csv")

In [16]:
len(set(customer['Customer_ID']))

9746

In [ ]:
C9801882 -> C9800882
C4077889 -> C4077879
C7498614 -> C7498514
C9650440 -> C9650420