In [1]:
from urllib import request, error
from urllib.parse import urlencode
import numpy as np
import json
import time
import re 
API_VERSION = '1.3'
import pandas as pd
import time
URL = 'https://randomuser.me/api/?nat=us'.format(API_VERSION)   
JSON_FILE = json.loads(request.urlopen(URL).read())
Title =JSON_FILE['results'][0]['login']
Title

{'uuid': '5c05dc58-381a-4564-9a6f-463d1daeeb22',
 'username': 'happyzebra368',
 'password': 'nights',
 'salt': 'pGhPvysZ',
 'md5': '783af36dbad65f6dd9adcb9f716133ef',
 'sha1': '6ebe28fa6cc415705704e6bfbc69aab01d4d6953',
 'sha256': '066ec5e767a8bdfe241875bb350ff92a1807eb0e935d8d7610cd58a0dcc9d960'}

In [14]:
password =[]
for i in range(9750):
    URL = 'https://randomuser.me/api/?nat=us'.format(API_VERSION)   
    JSON_FILE = json.loads(request.urlopen(URL).read())
    Title =JSON_FILE['results'][0]['login']['password']
    password.append(Title)
    
password

['1027',
 'whynot',
 'boomer',
 'shorty',
 'chicken',
 'qwertyuiop',
 'stalker',
 'stocks',
 'love123',
 'shun',
 'shen',
 'thanks',
 'sapphire',
 'walrus',
 'bilbo',
 'room',
 'heineken',
 'midway',
 'aisan',
 'eileen',
 'junior1',
 'vampire',
 '1946',
 'pantera',
 'playball',
 'blazers',
 'white',
 'passat',
 'oblivion',
 '55555',
 'abcdefgh',
 'extreme',
 'superior',
 'connie',
 'mandingo',
 'newport',
 'news',
 'patch',
 'freeporn',
 'deep',
 'grinch',
 'outkast',
 'wealth',
 'boxers',
 'total',
 'invest',
 'player1',
 'maxell',
 'project',
 'carver',
 'mack',
 'jerk',
 'wednesda',
 'crazybab',
 'naughty',
 'thongs',
 'candice',
 'californ',
 'grover',
 'francis',
 'bowtie',
 'mongoose',
 'angel',
 'wildfire',
 'tabitha',
 'pepito',
 'heat',
 'logitech',
 'kris',
 'spiral',
 'yvette',
 'alexander',
 'buzzard',
 'oedipus',
 'bigbob',
 'challeng',
 'heidi',
 'iloveyou2',
 'volley',
 'joanne',
 'lost',
 'zelda',
 'shaggy',
 'samuel',
 'gggggggg',
 'mandy',
 'tickler',
 'donna1',
 'fingers',
 'nonono',
 'gerard',
 'reading',
 '1200',
 'ziggy',
 '0815',
 'mystic',
 'clapton',
 'racers',
 'insert',
 'letmein',
 'balloon',
 'zebra',
 'jjjj',
 'brown1',
 'tripper',
 'muffy',
 'gamecube',
 'marilyn',
 'maradona',
 'trucker',
 'nutter',
 'barbie',
 'finish',
 'birthday',
 'nnnnnnn',
 'link',
 'zzzz',
 'driver',
 'kitty1',
 'yumyum',
 'rodney',
 'rusty2',
 'courage',
 'joker1',
 'coors',
 'woowoo',
 'looker',
 'philly',
 'fredfred',
 'megatron',
 'fastball',
 'deedee',
 'citroen',
 'luckydog',
 'havana',
 'tigers1',
 'seeker',
 'jenny',
 'hawaii',
 'mian',
 'blast',
 'bigdog1',
 'dawson',
 '1201',
 'rabbits',
 'smelly',
 'jamesbon',
 'bowler',
 'splash',
 'favorite6',
 'mobile',
 'marines',
 'valerie',
 'deluxe',
 'superb',
 'season',
 'monitor',
 'winner',
 'giants',
 'seagull',
 'lakers',
 'warner',
 'justine',
 'bibi',
 'life',
 'brianna',
 'woofer',
 'homepage-',
 'buttons',
 'bmw325',
 'pertinant',
 'gerbil',
 'hookem',
 'sealteam',
 '20202020',
 'passme',
 'stevie',
 'skylar',
 'sweetnes',
 'kkkkkkkk',
 'minnie',
 'carmex2',
 'qwerty1',
 'dragoon',
 'walmart',
 'hailey',
 'mountain',
 'flamingo',
 'tuan',
 'asdfghjkl',
 'miguel',
 'asdfghj',
 'pocket',
 'thesims',
 'clapton',
 'border',
 'callaway',
 'funk',
 'sixty',
 'carl',
 'nope',
 'account',
 'sinister',
 'philip',
 'work',
 'lumina',
 'froggy',
 'dave',
 'private',
 'gold',
 'stevens',
 'excalibu',
 'ajax',
 'sparkle',
 'zxc123',
 'samiam',
 'delta1',
 'goten',
 '2626',
 'toonarmy',
 'micheal',
 'awful',
 'yellow',
 'dodgeram',
 'sheeba',
 '747474',
 'atlantic',
 'flame',
 'cyclones',
 'rocket',
 'peace1',
 'virgin',
 'chessie',
 '25802580',
 'outback',
 'daisy',
 'george1',
 'spider1',
 'monkey1',
 'ssss',
 '676767',
 'vader1',
 'mechanic',
 'planet',
 'deeper',
 'scotty',
 'casey1',
 'sherwood',
 'gong',
 'alliance',
 'businessbabe',
 'indain',
 'hoosier',
 'feather',
 'positive',
 'ameteur',
 'court',
 'phish',
 'stevens',
 'junior1',
 'metro',
 'choice',
 'brandi',
 'earthlink',
 '1012',
 'bigballs',
 'ling',
 'times',
 'skirt',
 'woohoo',
 'qqqqqq',
 'goofy',
 'beardog',
 'sliver',
 'spiral',
 'polopolo',
 'technics',
 'temp',
 'possum',
 'dance',
 '676767',
 'gordo',
 'charlotte',
 'chicago1',
 'mayhem',
 'absolute',
 'foxylady',
 'mariah',
 'yoyoma',
 'fulham',
 'planes',
 'qazqaz',
 'pinetree',
 'commando',
 'presto',
 'scorpio',
 'woody',
 'airborne',
 'charger',
 'somethin',
 'reading',
 'gideon',
 'sassy',
 'rockhard',
 'cang',
 'peepee',
 'woodman',
 'briggs',
 'osiris',
 'banane',
 'sssssss',
 'presto',
 'nokia',
 'walnut',
 'sandrine',
 'rusty2',
 'boyz',
 'redsox',
 '1974',
 'juliet',
 'yong',
 'misha',
 'morrison',
 'dian',
 'what',
 'hall',
 'metro',
 'salesman',
 'hilary',
 'luther',
 'camero1',
 '57chevy',
 'camera',
 '1115',
 'brandi',
 'latina',
 'yyyyyy1',
 'peggy',
 'nicolas',
 'logan',
 'greenbay',
 'witch',
 'buffa',
 'jimmy',
 'jelly',
 'soul',
 '4ever',
 'horseman',
 'dodger',
 'voyager',
 'packer',
 'hores',
 'bike',
 'monkey12',
 'blondes',
 'oscar',
 'korn',
 'darius',
 'dudedude',
 'stryker',
 'boss',
 'mothers',
 'calling',
 'tommie',
 'some',
 'cinder',
 'jarrett',
 'belinda',
 'bacchus',
 'ruby',
 'confused',
 'crystal',
 '1963',
 'bennie',
 'reynolds',
 '18436572',
 'iloveu',
 'gustav',
 'basketba',
 'nature',
 'engage',
 'portugal',
 'stripper',
 'elliot',
 '88888',
 'dodgeram',
 'baltimor',
 'benito',
 'memory',
 'retire',
 'zenith',
 'hound',
 'johanna',
 'abraham',
 'suburban',
 'bendover',
 'celtics',
 'm5wkqf',
 '99999',
 'dotcom',
 'glenn',
 'scuba1',
 'mistress',
 'patches',
 'ddddd',
 'harlem',
 'fudge',
 'buckshot',
 'falcon',
 'oberon',
 'generic',
 'citadel',
 'francine',
 'cubbies',
 'kitty1',
 'tina',
 'party',
 'charter',
 'stone',
 'sampson',
 'pornporn',
 '24242424',
 'simone',
 'john',
 'longdong',
 'morton',
 'rubber',
 'brandi',
 'storm',
 'timothy',
 'machine',
 'cyclone',
 'jane',
 'bubba1',
 'zheng',
 'national',
 'calling',
 'testtest',
 'junk',
 'pippin',
 'davis',
 'security',
 'mikemike',
 'medical',
 'work',
 'pitures',
 'cedric',
 'moonshin',
 'scarlett',
 'jimbob',
 'emilio',
 'chambers',
 'mission',
 'shotgun',
 'nipper',
 'closeup',
 'pink',
 'farm',
 'spongebo',
 '123456',
 'maxim',
 'pakistan',
 'wicked',
 'kerstin',
 'tech',
 'wingnut',
 'brigitte',
 'saint',
 'tigers',
 'doobie',
 'tyrone',
 'camero1',
 'asdzxc',
 'jamie',
 'ssssss',
 'iiiiii',
 'sally1',
 'charter',
 'winston',
 'delphi',
 'dynamo',
 'bootie',
 'yyyy',
 'obelix',
 '1962',
 'auto',
 '1979',
 'emily',
 'aisan',
 '314159',
 'maryjane',
 '1027',
 'housewifes',
 'wolfen',
 'kathy',
 'awful',
 'farside',
 'rainbow1',
 'skiing',
 '000000',
 'roberto',
 'triumph',
 'brutus',
 'comedy',
 'ducks',
 'julie',
 'calimero',
 '4ever',
 'lekker',
 'impact',
 'steffen',
 'sally1',
 'phish',
 'precious',
 'queens',
 'sutton',
 'japan',
 'aaaaaaaa',
 'scully',
 'sophia',
 'rusty2',
 'asgard',
 'maxime',
 'loveit',
 'media',
 'sales',
 'barry1',
 'blackie',
 'matthews',
 'hoops',
 'dogwood',
 'smelly',
 'nomad',
 'zhuan',
 'kaitlyn',
 'pa55w0rd',
 'sleeper',
 'ting',
 'gogogo',
 'seagull',
 'termite',
 'unreal',
 'smelly',
 'celtics',
 'baseball',
 'eclipse',
 'flores',
 'meatball',
 'maria',
 'million',
 'julia',
 'airforce',
 'river',
 'gryphon',
 'greenbay',
 'piper',
 'april1',
 'geoffrey',
 'japanes',
 'picard',
 'tarheels',
 'empire',
 'ride',
 'jamie',
 'bryan',
 'dreaming',
 'lucas1',
 'jake',
 'whynot',
 'spooky',
 '5551212',
 'sheep',
 'project',
 'cutter',
 'sally1',
 'mitch',
 'amadeus',
 'blaze',
 'patch',
 'bigpoppa',
 'logan1',
 'toronto',
 'tttt',
 'nikita',
 'robbie',
 'photos',
 'tupac',
 'cathy',
 'gonavy',
 'redhead',
 'houdini',
 'happy2',
 'randy1',
 'bobby',
 'osiris',
 'list',
 '1021',
 'maria1',
 '20012001',
 'paintbal',
 'skyline',
 'nymets',
 'eastside',
 'abigail',
 'tennesse',
 'horizon',
 'mother',
 'goochi',
 'dingdong',
 'robins',
 'lamont',
 'duncan',
 'tipper',
 'lkjhgf',
 'hongkong',
 'westside',
 'guitar1',
 'trek',
 'trumpet',
 'juanita',
 'monarch',
 'wolverin',
 'frederic',
 'qwerty12',
 'topcat',
 'qbg26i',
 'dawgs',
 'wild',
 'romance',
 'kansas',
 'chuai',
 'fellow',
 '909090',
 'trixie',
 'factory',
 'birddog',
 'sabrina',
 'moneyman',
 'hillbill',
 'remingto',
 'dynamite',
 'fields',
 'monalisa',
 'rhubarb',
 'listen',
 '1129',
 'lizzie',
 'oracle',
 'bbbbbbb',
 'nick',
 'hairy',
 'evelyn',
 'zxcv',
 'cyclops',
 '1952',
 'flint',
 'nuclear',
 'camille',
 '13579',
 'corn',
 'mooses',
 'vickie',
 'blueberr',
 'webmaster',
 'bonehead',
 'jasmine1',
 'thegame',
 'gymnast',
 '123123',
 'francesc',
 'dragonfl',
 'dottie',
 'michael1',
 'tigger',
 'jayden',
 'wallace',
 'smoothie',
 'magneto',
 'musical',
 'marijuan',
 'fields',
 'richard',
 'lookin',
 'tripod',
 'jones1',
 'fortress',
 'rovers',
 'elaine',
 'kicker',
 'qwerty',
 'downtown',
 'adults',
 'aspen',
 'eleven',
 'gocubs',
 'austin',
 '1958',
 'shelby',
 'sheba1',
 'blue99',
 'corey',
 'spankme',
 'kume',
 'diggler',
 'cement',
 'laptop',
 'dookie',
 'eeeeee',
 'trustme',
 'cars',
 'jamie1',
 'treasure',
 'footjob',
 'astros',
 'chucky',
 'nico',
 'raider',
 'bean',
 'beerbeer',
 '2000',
 'nugget',
 'paris',
 '666666',
 'cream',
 'fisher',
 'alice',
 'brandy',
 'lawyer',
 'sonics',
 'chriss',
 'diamond',
 'gracie',
 'john316',
 'luv2epus',
 'enterpri',
 'celine',
 'ssssss',
 'fletcher',
 'pooky',
 'christmas',
 'private',
 'silver1',
 'duncan',
 'mental',
 'hunting',
 'mushroom',
 'smith',
 'sonic',
 '951753',
 'aspire',
 'loveit',
 'stinks',
 'aramis',
 'deer',
 'regina',
 'hilary',
 'thomas1',
 'runner',
 'lickit',
 'painting',
 'simona',
 'annabell',
 'fabian',
 'washburn',
 'nascar',
 'louie',
 'beowulf',
 'mona',
 'paintball',
 'thekid',
 'gothic',
 'knights',
 'carbon',
 'william1',
 'jimbo',
 'carrera',
 'leopard',
 'deftones',
 'unbelievable',
 'hardcore',
 'stones',
 'drums',
 'small',
 'bigd',
 'delete',
 'tornado',
 'beat',
 'contains',
 'circle',
 'lord',
 'bloody',
 'tbone',
 'indy',
 'dagger',
 'phialpha',
 '1993',
 'zone',
 'sebastian',
 'belle',
 'abraham',
 'zhua',
 'zhai',
 'pancho',
 'shuai',
 'esquire',
 'redman',
 'treetop',
 'sonoma',
 'butterfly',
 'pillow',
 'sinister',
 'lenny',
 'vvvvvvv',
 'giorgio',
 'happy',
 'clock',
 'jeanne',
 'nokia',
 'tttttttt',
 'muscles',
 'gray',
 'brandi',
 'luan',
 'right',
 'vanilla',
 'peggy',
 'fallout',
 'senators',
 'divx1',
 'tripod',
 'thesims',
 'virginie',
 'ashleigh',
 'dennis',
 'raiders1',
 'cheech',
 'petra',
 'malone',
 'admiral',
 'leon',
 'wolf',
 'qwertyui',
 'ultima',
 '456456',
 'peter',
 'guido',
 '81fukkc',
 'chocolate',
 'bananas',
 'qing',
 'portland',
 'birthday',
 '323232',
 '1996',
 'goat',
 '1986',
 'doomsday',
 'over',
 'wombat',
 'place',
 'avatar',
 'straight',
 'formula1',
 'stiletto',
 'nutmeg',
 'iloveyou1',
 'howard',
 'chevys',
 '3333333',
 'sinister',
 'honda',
 'paulie',
 'trader',
 'newpass6',
 'goliath',
 'respect',
 'tazman',
 'midori',
 'hung',
 'serenity',
 'kissme',
 '5329',
 'marsh',
 'chou',
 'ihateyou',
 'digital',
 'stoney',
 'james007',
 'bear',
 'vivian',
 'bengals',
 'whocares',
 'collins',
 'debbie',
 'love',
 'april',
 'gilligan',
 '7734',
 'gandalf1',
 'ringo',
 'fletcher',
 'static',
 'bottom',
 '818181',
 'encore',
 'makaveli',
 'fdm7ed',
 'gator1',
 'interest',
 'atlantis',
 'gamma',
 'mdogg',
 'aikido',
 'beethove',
 'athens',
 'balance',
 'irene',
 'peterpan',
 'yamahar1',
 'expert',
 'road',
 'maryland',
 'blackie',
 'magneto',
 'wapapapa',
 'spiderma',
 'damage',
 'firewall',
 'browns',
 'sound',
 'redbone',
 'vertigo',
 'lightning',
 'athens',
 'badman',
 'roadrunn',
 'karen',
 '1941',
 'sssssss',
 'united',
 'fdsa',
 'flint',
 'wibble',
 'ihateyou',
 'pimpdadd',
 'jimjim',
 'mars',
 'seth',
 'blueblue',
 'magnum',
 'coolcool',
 'somethin',
 'wine',
 'jagger',
 'trailers',
 'reality',
 'alfredo',
 'logan1',
 'misfit99',
 'newcastl',
 'garrett',
 'favorite6',
 '434343',
 'simba',
 'ib6ub9',
 'weed',
 'jamesbond',
 'open',
 'clarke',
 'cowgirl',
 'kikimora',
 'robin1',
 'nine',
 'legion',
 'tipper',
 'grils',
 'guinness',
 'kelly1',
 'gideon',
 'roxanne',
 'herewego',
 '3333333',
 'acer',
 'klondike',
 'heng',
 'softail',
 'cornwall',
 'picard',
 'atlas',
 'iforget',
 'monty',
 '4you',
 '0815',
 '8888',
 'sluttey',
 'grendel',
 'zaq123',
 'sawyer',
 'spanish',
 'roadrunn',
 ...]

In [41]:



Employee_login = pd.read_csv("C:/ram/FALL/DMQL/Project/Employee_Login.csv")
Account_Details = pd.read_csv("C:/ram/FALL/DMQL/Project/Account_Details.csv")


Customer= pd.read_csv("C:/ram/FALL/DMQL/Project/Customer.csv")

Customer

,ID,Name,Email,SSN,Phone,Address
0,C5947649,Steven Perkins,steven.perkins@gmail.com,014-84-1172,+1(351) 548-7820,122 Adams St Clarksville North Carolina United...
1,C6312265,Clinton Jennings,clinton.jennings@gmail.com,284-16-0566,+1(421) 245-7416,626 Wheeler Ridge Dr Anaheim Nebraska United S...
2,C6742510,Brayden Nguyen,brayden.nguyen@gmail.com,131-02-5153,+1(229) 827-9796,751 Saddle Dr Athens South Dakota United State...
3,C7143197,Francisco Perkins,francisco.perkins@gmail.com,330-46-1157,+1(333) 260-6832,9588 Robinson Rd Lubbock Pennsylvania United S...
4,C1191991,Kelly Marshall,kelly.marshall@gmail.com,452-49-7112,+1(706) 245-7979,5571 Spring St Chesapeake Oregon United States...
...,...,...,...,...,...,...
9745,C2558094,Ronnie Clark,ronnie.clark@gmail.com,341-47-8531,+1(637) 986-9286,4975 Homestead Rd Garden Grove Tennessee Unite...
9746,C9707802,Cherly Gonzales,cherly.gonzales@gmail.com,386-85-8324,+1(522) 865-4017,5727 Sunset St Aurora Alabama United States 24196
9747,C6731945,Perry Reid,perry.reid@gmail.com,636-62-0420,+1(653) 723-2272,2262 Woodland St Lewiston Arizona United State...
9748,C6993786,Elaine Wagner,elaine.wagner@gmail.com,159-56-9777,+1(287) 801-6616,7340 W Campbell Ave Miramar New Mexico United ...
9749,C7011753,Andre Schmidt,andre.schmidt@gmail.com,700-58-3558,+1(309) 496-9072,7767 Preston Rd Fountain Valley Mississippi Un...

In [58]:
Account_Details

      Unnamed: 0        Account_no Account_type  Customer_id branch_id
0              0  1032665555259110     Checking      6614212  BSABUF05
1              1  1022457127705150     Checking      6716543  BSABUF07
2              2  1034377768495020       Saving      8601028  BSABUF02
3              3  1030517720272910       Saving      7446086  BSABUF15
4              4  1018800232477030     Checking      4122549  BSABUF05
...          ...               ...          ...          ...       ...
9995        9995  1020805612047480     Checking      8532903  BSABUF18
9996        9996  1070610451281470     Checking      5078380  BSABUF18
9997        9997  1061135450628380       Saving      8554324  BSABUF03
9998        9998  1088222785375750       Saving      9673332  BSABUF06
9999        9999  1024251000827920     Checking      5590098  BSABUF23

[10000 rows x 5 columns]

In [59]:
Employee_login

     Unnamed: 0    User_Id  password        Account_no
0             0  E76886793   loretta  1030773153721760
1             1  E59860024   johanna  1098169491930550
2             2  E46800944    vader1  1018372561696380
3             3  E53277210      junk  1083219653968510
4             4  E77775339    piglet  1063860546233490
..          ...        ...       ...               ...
245         245  E27703440    safari  1040781708750870
246         246  E76225705  mistress  1061326617345570
247         247  E45678507  munchkin  1091935502986820
248         248  E39994906    potato  1054886894849920
249         249  E90728467    scxakv  1013550529628690

[250 rows x 4 columns]

In [42]:
customer_Login = pd.DataFrame (Customer['ID'].tolist(), columns = ['User_Id'])
customer_Login['password'] = password

In [52]:
customer_Login=

       User_Id password
0     C5947649     1027
1     C6312265   whynot
2     C6742510   boomer
3     C7143197   shorty
4     C1191991  chicken
...        ...      ...
9745  C2558094  martine
9746  C9707802   456654
9747  C6731945  lesbens
9748  C6993786   hansen
9749  C7011753  chuckie

[9750 rows x 2 columns]

In [60]:
customer_Login["Account_no"] = Account_Details['Account_no'].tolist()[250:]

In [61]:
customer_Login

       User_Id password        Account_no
0     C5947649     1027  1074265545920160
1     C6312265   whynot  1043767789947240
2     C6742510   boomer  1056408869305930
3     C7143197   shorty  1029705250509050
4     C1191991  chicken  1079047258801440
...        ...      ...               ...
9745  C2558094  martine  1020805612047480
9746  C9707802   456654  1070610451281470
9747  C6731945  lesbens  1061135450628380
9748  C6993786   hansen  1088222785375750
9749  C7011753  chuckie  1024251000827920

[9750 rows x 3 columns]

In [63]:
customer_Login.to_csv('Customer_Login.csv')